{% extends "base.html" %}

{% block conteudo %} 
<!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="jumbotron">
              <h1>Aplicações Distribuídas</h1>
              <p>Gestão de Farmácias e Receitas Electrónicas</p>

            </div>

            <div class="jumbotron">
              <h4>Docente:</h4> <h6>António Sousa</h6>

              <p></p>

              <h4>Discentes:</h4><h6>Ana Ramos (a74727)</h6><h6>Ana Machado (a75088)</h6><h6>Ana Sousa (a74753)</h6>

            </div>
        </div>
        </div>
      </div>
{% endblock %}
